@import url('https://fonts.googleapis.com/css?family=Roboto');
:root{
    --light: #ffffff;
    --dark: #000000;
    --loveclr: #F42213;
    --toplightgrey: #efefef;
    --semilight: #dfe1e5;
    --grey: #afafaf;
    --darkgrey: #333333;
    --light-semilight: #C9F1FF;
    --girlclr: #FF81D6;
    --babyclr: #FFE3EB;
    --royal: #3C48FF;
    --queenclr:#60091d;
    --kingclr:#11322c;
    --princess:#180105;
    --links: #3FCCFF;
    --font-heading: 'Roboto', helvetica, arial, sans-serif;
    --font-content: 'Roboto', helvetica, arial, sans-serif; 
    --spacing: 1em;
}
html{
    margin: 0;
    padding: 0;
}

body{
background-color: var(--darkgrey);
position: relative;
background-repeat: no-repeat;
background-size: cover;
color: var(--dark);
max-width: 100%;
margin: 0;
padding: 0;
}

body li{
    list-style: none;
    text-align: left;
    /* justify-self: stretch; */
}
a {color:var(--links) ;}
.topbar{
    text-align:left;
    background-color: var(--darkgrey);
    width: 100%;
    margin: 0;
    padding: 0;}

 .fb-logo-pic{
   
    width:90%;
    min-height:0.5;
    padding-left: 1em;
    padding-top: 0em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    }

    .fb-logo-pic > img 
    {
        width: 5em;
        text-align: center;
        display:block;
        margin-left: auto;
        margin-right: auto;
    }
.srch-icon{
    color: var(--darkgrey);
padding-left: 1em;
}
.srch-bar{
border-radius: 0.2em;
color: var(--darkgrey);
padding-left: 1em;

}
.srch-bar input{
border: var(--darkgrey) solid;
border-radius: 0.3em;
padding-top: 1em;
padding-left: 4em;
margin-top: 1em;
text-align: left;
width: 25em;
height: 3em;
}
.icon-n-bar{
    display: inline;
}

.icon-n-bar
{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding:0 0 2rem 0;
}


.icon-n-bar i
{
    margin:30px 0 0 0;
}
.button{
    background-color: var(--darkgrey);
    color: var(--light);
    display: inline-block;  
    border: 0em solid #555555;
    border-radius: 0.5em;
    text-decoration: none;
    padding:0.4em;
}
.button:hover{
background-color:var(--light);
color: var(--darkgrey);
}
.topbar li{
    padding-left: 0.5em;
    padding-right: 1em;
    list-style: none !important;
    width: 100%;
    margin: 0;
    text-align: left;
 }
.cover-photo{
    background-image: url('../img/cover6.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0;
    width: 100%;
    min-height: 10em;
    margin:0;
    text-align: left;
}
.sub-menu{
    margin: 0;
    text-align: left;
    background-color: var(--darkgrey);
    padding-left: 1em;
}
.crt-post{
    overflow: hidden;
    text-align:left;
    background-color: var(--darkgrey);
    width: 100%;
    margin: 0;
    padding: 0;}

.crt-post li{
    background-color: var(--darkgrey);
    text-align: left;
    margin: 0;
    padding: 0;
}
.creetepo{
    margin: 0;
}


.profile{
text-align: left;
margin: 0;

}
.profile img{
    width: 12em;
    min-height: 8em;
    border-radius: 8em; 
    padding: 0;
}
.add-pro{
    width:100%;
    margin: 0;
}
.add-pro li{
    list-style: none !important;
    text-align: left;
    }
.crt-prfl-pic{
    /* display: inline-block; */
    margin: 0;
    text-align: center;
}
.crt-prfl-pic-img{

   max-width: 8em;
    min-height: 8em;
    border: var(--darkgrey)solid;
    border-radius: 10em;
}
.taxt{  
    width: 25em;
    height: 8em;
    border: var(--darkgrey) solid;
    border-radius: 0.5em;
    margin-top: 2em;
    margin-left: 3em;
    font-weight: bold;
    text-align: center;
}
.tagg li{
    list-style-type: none;
    margin: 0;
    text-align: center;
    
}
.lif-evnt{
    padding-left: 4em
}
.lfevent li{
text-align: left;
background-color: var(--darkgrey);
}
.lifeevent-parent{
display: grid;
grid-template-columns: auto auto;
text-align: center;
margin-top: 2em;
}
.lifeeventimg{    
    width: 25em;
    min-height: 6em;
    border: var(--darkgrey)solid;
    border-radius: 4em;
    margin-top: 1em;
    margin-left: 2.3em;
    text-align: center;
}

.ur-page-parent{
    background-color: var(--darkgrey);
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    margin-top: 2em; 
}
.ur-page{color: var(--light);}
.yourpage img{
    width: 25em;
    min-height: 6em;
    border: var(--darkgrey)solid;
    border-radius: 4em;
    margin-top: 1em;
    margin-left: 2.3em;
    text-align: center;
}
.ur-page-lnk{
    margin: 0;
    padding-top: 1em;}
.games{grid-template-columns: 8% 8% 8%;
    background-color: var(--darkgrey);
    text-align: center;
    margin-top: 2em;
    justify-content: right;
    align-content: center;
grid-template-rows: 1fr 1fr 1fr;}
.games img{
    max-width: 10em;
    min-height: 3em;
    border: var(--darkgrey)solid;
    border-radius: 4em;
    margin-left: 2em; 
}
.games h4{color: var(--light);}
.advr-otdr-led {
    background-color: var(--semilight);
    margin-top: 2em;
    text-align: center;
}
.advr-otdr-led img { width: 25em;
    min-height: 6em;
    border: var(--darkgrey)solid;
    border-radius: 4em;
    margin-top: 1em;
    margin-left: 2.3em;
   }
.divMainCont{padding-left: 1em;text-align: center;}
.cntcts li{display: inline-block; text-align: left;}
.cntcts a {padding-left: 1em; text-align: right;}
.cntcts img{
    text-align: left;
    max-width: 10em;
    min-height: 2em;
    min-width: 7em;
    max-height: 7em;
    border: var(--darkgrey)solid;
    border-radius: 4em;
    margin-left: 2em;
}
.PostHeading{font-weight: bold !important; text-align: center; padding-top: 2em;}
.divPosts{background-color: var(--semilight);}
.divPosts p{padding: 1em;}
.divPosts img{
    width: 28em;
    min-height: 6em;
    border: var(--darkgrey)solid;
    border-radius: 4em;
    margin-top: 1em;
    margin-left: 2.3em;
    text-align: center;
}
/* }
    .ins-g { grid-column-start: 1;
    grid-column-end: 3;
    grid-row-end: 2;
    background-color: var(--girlclr); 
    }
    .mor { grid-column-start: 3;
    grid-column-end: 4;  */
     /*grid-row-start: 1;
    grid-row-end: 42*/
    /* background-color: var(--light);  
    }
    .wo-cro-pic {
        padding-top: 1em;
        padding-right: 2em;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: girlclr; 
    }
    .fi-of-bat-pic {
        padding-top: 1em;
        padding-right: 1.5em;
        grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3; 
    background-color: girlclr; 
    }
    .bal-pol-pic {
        padding-top: 1em;
        padding-right: 1.5em;
        grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3; 
    background-color: girlclr;
    }
    .wo-cro-lnk {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: girlclr; 
        }
    .fi-of-bat-lnk {grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: girlclr; 
        }
    .bal-pol-lnk { grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: girlclr; 
    }*/
/* .friendgames img{ 
    max-width: 3em;
    min-height: 3em;
    border: var(--dark)solid;
    border-radius: 4em;
    margin-left: 2em; 
}*/
/* .lif-evnt{
    padding-left: 20em;} 
@media screen and (min-width:31.25em)
{
    body{
        background-color: bisque;
    }
    .topbar{
        display: grid;
        grid-template-columns: auto 1fr auto auto auto auto auto auto auto auto auto;
        text-align: center;

    }
    .sub-menu{
        grid-template-columns: auto auto 1fr;
        text-align: left;
    }
    .crt-prfl-pic{
        grid-template-columns:  auto 1fr auto;
    }
    .tagg{
        grid-template-columns: auto auto 1fr;
        text-align: left;
        padding-left: 18em;
    }
    .lfevent{grid-template-columns: 1fr auto;}
    .crt-post11{
        padding-left: 12em;
       
        grid-template-columns: auto auto auto auto 1fr;
    text-align: left;
    }
    .gridpost{grid-template-columns: 1fr auto;
        margin: 0;
    }
    .games{grid-template-columns: 8% 8% 8%;
        text-align: center;
        justify-content: right;
        align-content: center;
    grid-template-rows: 1fr 1fr 1fr;
    }
        .ins-g { grid-column-start: 1;
        grid-column-end: 3;
        grid-row-end: 2;
        background-color: var(--semilight); 
        }
        .mor { grid-column-start: 3;
        grid-column-end: 4; */
        /* grid-row-start: 1;
        grid-row-end: 42*/
        /* background-color: var(--semilight);  
        }
        .wo-cro-pic {
            padding-top: 1em;
            padding-right: 1.5em;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: gold; 
        }
        .fi-of-bat-pic {
            padding-top: 1em;
            padding-right: 1.5em;
            grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3; 
        background-color: goldenrod; 
        }
        .bal-pol-pic {
            padding-top: 1em;
            padding-right: 1.5em;
            grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3; 
        background-color: orange;
        }
        .wo-cro-lnk {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
            background-color: gold; 
            }
        .fi-of-bat-lnk {grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;
            background-color: goldenrod; 
            }
        .bal-pol-lnk { grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 3;
            grid-row-end: 4;
            background-color: orange; 
        }
}

     /*  .crt{
        grid-area: create;
      }
      .vice{
        grid-area: voice;
      }
      .phto{
        grid-area: photo;
      }
      .liv{
        grid-area: live;
      }
      .lif {
        grid-area: life;
      }
      .lif-evnt{
        grid-area: evnt;
      }
      .mrid{
        grid-area: married;
      }
    .crt-post{
        background-color: #FF81D6;
       grid-template-columns: repeat(16, auto);
       grid-template-rows: auto;
       grid-template-areas: 
       grid-columns-gap
    ". . . create voice photo live life . . . . . . evnt married";
    /* "main main . sidebar"
 
       text-align: center;
       /* padding-left: 12em; 
    }*/
    

    /* .crt {
        grid-column-start: col-start 2;
      }
       */
    
    

    /* .body-main{ for small
        grid-template-columns: 1fr 1fr;
    }*/

/*
@media screen and (min-width:55em)
{
    .taxt{ 
    max-width: 40em;(for phone layout)
    }
    body{
        background-color: aquamarine;
    }
    .div2{
        grid-template-columns: 1fr 1fr 1fr ;
    }
    .body-main{
        grid-template-columns: 1fr 1fr 1fr;
    }
}*/
